th{
    border-block-color: 2px black;
}
.angello{
    color:Red;
}
#botonCalcular{
    background:red;
    color:white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 500px;
}